
<li class="time-weather">
        <p class="time-weather__time">{{time}}</p>
        <p class="time-weather__temp">
            <img src="{{icon}}" alt="{{iconDescription}}" class="time-weather__temp-icon">
            <span class="time-weather__span">{{temp}}</span>
        </p>    
    <ul class="time-weather__data">
        <li class="time-weather__pressure">
        <svg class="time-weather__icon" width="20" height="20">
            <use href="../src/images/svg/symbol-defs.svg#icon-barometer"></use>
        </svg>
            {{pressure}} mm</li>
        <li class="time-weather__humidity">
            <svg class="time-weather__icon" width="20" height="20">
                <use href="../src/images/svg/symbol-defs.svg#icon-humidity"></use>
            </svg>
            {{humidity}} %</li>
        <li class="time-weather__wind">
        <svg class="time-weather__icon" width="20" height="20">
            <use href="../src/images/svg/symbol-defs.svg#icon-wind"></use>
        </svg>
            {{speed}} m/s</li>
    </ul>
</li>

